
    .pricing {
      padding: 50px 20px;
      background-color: #f8f9fa;
    }

    .card {
      border: none;
      margin: 50px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .pricing-text {
      font-size: 2rem;
      font-weight: bold;
      margin: 20px 0;
    }

    .btn {
      border-radius: 25px;
    }

    h2, h3 {
      color: #333;
    }

    #features-p {
      margin: 10px 0;
    }
    .footer {
      text-align: center;
      color: white;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      width: 100%;
  }